body{
    margin: 0;
    text-align: center;
    color: #40514E;
    text-size-adjust: 10px;
    
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    
}
p{
    margin: auto;
    text-align: center;
    line-height: 2;
    width: 20%;
    font-family: "Barlow",sans-serif;
}
h1{
    margin-top: 0;  
    
}
h2{
    font-family: "Barlow",sans-serif;
    padding-bottom: 20px;
}
h3{
    margin-top: 10px;
    font-family: "Barlow",sans-serif;
}
.Languages{
    margin-top: 10px;
    margin-left: 40px;
}
.top-container{
    background-color:#E4F9F5;
    position: relative;
    padding-top: 200px;
    font-family: "Dancing Script",cursive;
    font-size:3.625rem;
}
.middle-container{
    font-size:20px;
    margin: 100px 0;
}
.bottom-container{
    font-size:20px;
    background-color: #6FBFBF;
    padding: 50px 0 20px ;
}
.profilepic{
    border-radius: 50%;
    
}

a{
    font-family: "Barlow",sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.Copyright{
    color: #EAF6F6;
    size: 0.75rem;
    padding: 20px 20px;
}
.top-cloud{
    position: absolute;
    right:450px;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    left: 450px;
    bottom:300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
.profilepic{
    width: 30%;

}
.skillspic{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skillrowpic{
    width: 20%;
    float: right;
    
}

.contactmsg{
    width: 40%;
    margin : 40px auto 60px;
}

.btn 
{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
    background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
    background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
    background-image: -o-linear-gradient(top, #11cdd4, #1199e);
    background-image: linear-gradient(to bottom, #11cdd4, #1199e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30ecb;
    background-image: -webkit-linear-gradient(top, #30ecb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30ecb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30ecb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30ecb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30ecb, #2bc4ad);
    text-decoration: none;
  }